@import './variables.module.scss';

.content {
  padding: 0;
  margin: 6rem;
  scrollbar-gutter: stable;
}

.font_size_xxsmall {
  font-size: $font-size-xxsmall;
}

.py_4 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.pt_6 {
  padding-top: 5.625rem;
}

.px_2 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.pb_2 {
  padding-bottom: 1.875rem;
}

.mt_1 {
  margin-top: 0.9375rem;
}

.mb_1 {
  margin-top: 0.9375rem;
}

.mb_4 {
  margin-bottom: 3.75rem;
}

.mb_3 {
  margin-bottom: 2.8125rem
}

.color_blue_light {
  color: $blue-text;
}

.small {
  color: #0a0a0a;
}

.author {

  position: relative;

  .horizontal & {
    min-height: 3.25rem;
  }

  &__image {
    z-index: 1;
    position: absolute !important;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);

    .horizontal & {
      transform: translateY(-10%);
    }

    .is--detail & {
      width: 4rem;
      height: 4rem;
    }

    &:nth-child(2) {
      left: 4.5rem;
      z-index: 2;
    }

    & img {
      border-radius: 50%;
      border: 2px solid $grey-light;
    }
  }

  &__name {
    display: block;
    padding-top: .4678rem;
    padding-left: 3.1rem;

    .horizontal & {
      padding-top: 1.75rem;
    }

    .is--detail & {
      padding-left: 4.1rem;
    }

    &.more-than-one {
      padding-left: 5.9rem;
    }
  }

}