//
// Settings: Fonts & Typography
//

// Font Families
///////////////////////////////

// Headlines (h1, h2, h3, h4)
$font-family-headline: 'Source Sans Pro', sans-serif !default;

// Small headlines (h5, h6)
$font-family-headline-small: 'Source Sans Pro', sans-serif !default;

// Intro Headlines
$font-family-intro: 'Source Sans Pro', sans-serif !default;

// Normal text
$font-family-text: 'Source Sans Pro', sans-serif !default;


// Font Sizes
///////////////////////////////
$font-size-html-base: 16px !default;
$font-size-html-medium: 18px !default;
$font-size-html-large: 20px !default;

$font-size-super-base: 2rem;
$font-size-super-medium: 2.375rem;
$font-size-super-large: 3.75rem; // 50px =>Super Headline

$font-size-xxlarge: 3.175rem !default; // 24px => Blockquote
$font-size-xlarge: 1.875rem !default; // 24px => Blockquote
$font-size-large: 1.25rem !default; // 22px => Lead paragraph
$font-size-medium: 1rem !default; // 18px => Copy text
$font-size-small: .862rem !default; // 16px => Cards
$font-size-xsmall: .762rem !default; // 13px => Caption, Disclaimer, Tooltips
$font-size-xxsmall: .666rem; // 12px => Footer legal links

// Font Weights
///////////////////////////////
$font-weight-light: 400 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-base: $font-weight-normal !default;

// Line Height
///////////////////////////////
$line-height-base: 1.5 !default;

// Headings
///////////////////////////////


// Paragraphs
///////////////////////////////
$paragraph-bottom-margin: 1.714rem !default;
$paragraph-top-margin: .857rem !default;
//$paragraph-left-margin: 4.762rem !default; //wysiwg, only for large

// Lists
///////////////////////////////
$list-bullet-size: 6px !default;
$list-indent: 10px !default;
$list-icon-indent: 22px !default;
$list-leading: 0.375rem !default;
$list-bottom-margin: $paragraph-bottom-margin !default;

// 
// Colors
//

// Defining specific brand colors

$blue: #1890ff !default;
$blue-dark: #006fff !default;
$blue-light: #44a5ff !default;
$blue-text: #006dfb !default;
//$blue-light-50:     #ebf4f7 !default;

$sapphire: #00E5EB !default;

$petrol: #0099a6 !default;
$berry: #770c52 !default;

$grey: #bebebe !default;
$grey-dark: #1a1d23 !default;
$grey-light: #EFF0F2 !default;


$white: #ffffff !default;
$black: #000000 !default;

$red: #EA345C !default;
$green: #06C270 !default;

$functional-red: #EA345C !default;
$functional-green: #06C270 !default;

$secondary-ocean: #032AEF;

// Semantic color scheme



$success-color: $functional-green !default;
$warning-color: $red !default;
$danger-color: $functional-red !default;
$inverse-color: $white !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $grey-dark !default;
$inverse-bg: $blue-dark !default;
$inverse-color: $white !default;

$transparent: transparent !default;